body {
  display: flex;
  background-image: linear-gradient(to right, #ff69b4, #ff1493, #ff0000);
}

main {
  background: white;
  width: 70%;
  margin: 20px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
}

header,
section {
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 25px;
}

input {
  border: solid 1px #eee;
  padding: 0 10px;
  color: #bbb;
  font-size: 18px;
  height: 40px;
  border-radius: 3px;
  margin: 3px 0;
}

#addbtn {
  background: #ff1493;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  border-radius: 3px;
  margin: 3px 0;
}
